.image {
  max-height: 300px;
}

app-chart-line {
  height: calc(70vh - 2rem);
}

.compare {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 250px) );
  gap: 1em;
  &__item {
    position: relative;
    height: 200px;
    border: 1px solid #aaa;

    a {
      position: absolute;
      background: #ecececef;
      border-radius: 50%;
      line-height: 1.5em;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
    }
    &__img {
      display: block;
      width: 100%;
      height: calc(100% - 1em - 2px);
      background-position: center;
      background-size: cover;
    }
    &__bar {
      position: absolute;
      bottom: 0px;
      height: 1em;
      background: darkgray;
      border: 1px solid transparent;
    }
    &__text {
      position: absolute;
      bottom: 0px;
      border-top: 1px solid #aaa;
      width: 100%;
    }
  }
}