.pin {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  border-radius: 50%;
  white-space: normal;
  width: 150px;
  height: 150px;
}

.popup {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 60px;
  min-width: 100px;
  background-color: red;
  color: white;
  font-size: 3em;
  padding: 10px;

  &.show {
    display: block;
  }
}

video {
  display: none;
}